body {
    font-family: "Vazirmatn", sans-serif !important;
    background-color: rgba(212, 212, 212, 0.616) !important;
}




/* start خدمات ما در حوضه  */
.hes {
    height: 250px !important;
    border-radius: 10px;
    padding-top: 10px;
    transition-duration: 1 s;
    background-color: rgba(189, 219, 226, 0.404) !important;
}
.hes:hover {
    background-color: rgb(212, 212, 212) !important;
}

.hes:hover .imgm {
    animation: shake 0.2s infinite alternate;
}

@keyframes shake {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}
/* end  خدمات ما در حوضه  */


/*start چرا  شتاپ */
.nox{
    transition: 0.3s;
    box-shadow: 0 0 12px 2px rgb(189, 187, 187);
}
.nox:hover{

    
    background-color: rgb(203, 203, 204) !important;

}
/*end چرا  شتاپ */